* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --clr-background: #f1f1f1;
  --clr-text: #333;
  --clr-blue: #1FD4CA;
  --clr-blue-dark: #11A69D;
}

body {
  background: var(--clr-background);
  color: var(--clr-gray-text);
  font-family: "Lato", sans-serif;
}